<section class="container">
    <header class="header d-flex">
        <h2 class="ff-inter">Meu Mural</h2>
        <button routerLink="/criarPensamento" class="botao">Adicionar pensamento</button>
    </header>
    <div>
        <div class="mural" *ngIf="listaPensamentos_PAI.length > 0 , else semPensamentos">
        <div *ngFor="let pensamentoDoHtml of listaPensamentos_PAI ">
            <app-pensamento [pensamentoFilho]="pensamentoDoHtml"></app-pensamento>
        </div>
           
        </div>
    </div>
</section>

<ng-template #semPensamentos>
    <div class=" ff-inter sem-pensamentos">
        <p>Ainda nao há pensamento cadastrados !</p>
    </div>
</ng-template>
