<div class="pensamento {{ pensamentoFilho.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">
  <img src="/assets/imagens/{{ pensamentoFilho.modelo }}.png" alt="Aspas coloridas">
  <p class="conteudo">{{ pensamentoFilho.conteudo }}</p>
  <p class="autoria"><b>{{ pensamentoFilho.autoria }}</b></p>
  <div class="acoes">
    <button class="botao-editar">
      <img src="/assets/imagens/icone-editar.png" routerLink="/pensamentos/editarPensamento/{{pensamentoFilho.id}}" alt="Ícone de editar">
    </button>
    <button class="botao-excluir" routerLink="/pensamentos/excluirPensamento/{{pensamentoFilho.id}}">
      <img src="/assets/imagens/icone-excluir.png" alt="Ícone de excluir">
    </button>
  </div>
</div>